#grid, #panner {
    height: 100000vh;
    -webkit-transform: translate(-1000%,-1000%);
    transform: translate(-1000%,-1000%);
    width: 100000vw;
}

.jss451 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}


.jss438 {
    top: 48px;
    left: 270px;
    border: 1px solid rgba(75, 75, 75, 0.2);
    z-index: 1201;
    position: absolute;
    border-radius: 4px;
    padding-right: 4px;
    background-color: #fff;
  }
  .jss439 {
    top: 96px;
    left: 270px;
  }
  .jss440 {
    left: 259px;
    width: 100%;
    bottom: 0;
    height: 58px;
    z-index: 100;
    position: absolute;
    border-left: 1px solid rgba(75, 75, 75, 0.2);
  }
  .jss441 {
    left: 12px;
    color: #fff;
    border: 1px solid #fff;
    bottom: 10px;
    height: 38px;
    display: flex;
    padding: 8px 16px;
    position: absolute;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    background-color: #222;
  }
  .jss442 {
    left: 35%;
    bottom: 10px;
    position: absolute;
    margin-top: unset !important;
    border-radius: 8px;
    margin-bottom: unset !important;
    background-color: #fff;
  }
  .jss443 {
    color: #fff;
    text-transform: none;
  }
  .jss444 {
    top: 48px;
    right: 28px;
    position: absolute;
  }
  .jss445 {
    cursor: move;
    margin: 0;
  }
  .jss446 {
    height: 20px;
    margin-left: 4px;
    margin-right: 4px;
  }
  .jss447 {
    width: 100%;
    height: 100vh;
    padding: 0;
    background-color: rgb(250, 250, 250);
  }
  .jss448 {
    outline: 0;
    background-color: rgb(250, 250, 250);
  }
  .jss449 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 8px;
    justify-content: space-around;
  }
  .jss450 {
    cursor: not-allowed;
    z-index: 1200;
  }
  .jss451 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
  }


.jss561 {
    flex-grow: 1;
  }
  .jss562 {
    padding: 4px;
    margin-left: 4px;
  }
  .jss562:hover {
    color: #000;
  }
  .jss562:focus {
    outline: 0;
  }
  .jss563 {
    width: 100%;
    margin: 6px;
    display: flex;
    padding: 8px;
  }
  .jss564 {
    width: 100%;
    display: flex;
    padding: 8px;
    border-top: 1px solid rgba(75, 75, 75, 0.2);
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
  }
  .jss565 {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-color: rgba(75, 75, 75, 0.3) #fff;
    scrollbar-width: thin;
  }
  .jss565:-moz-window-inactive {
    scrollbar-color: rgba(75, 75, 75, 0.1) #fff;
  }
  .jss566 {
    flex: 0 0 auto;
    width: 260px;
    border: 1px solid rgba(75, 75, 75, 0.2);
    margin: 0;
    display: flex;
    outline: 0;
    overflow: hidden;
    border-top: 0;
    text-align: center;
    transition: 0.2s width ease-in-out;
    align-items: center;
    padding-top: 40px;
    white-space: nowrap;
    justify-items: center;
    flex-direction: column;
    vertical-align: baseline;
    justify-content: inherit;
    background-color: #fff;
  }