<header>
  <h1>Angular + D3</h1>
</header>

<div class="jss451">
  <div class="jss447">
    <app-bar #appBar></app-bar>
  </div>
  <div id="left-bar-body" class="jss566">
    <li (mousedown)="isMouseDown = true" (mouseup)="onAddNode()" [class.jss404]="isMouseDown" class="MuiListItem-root jss401 MuiListItem-gutters" tabindex="0" id="leftbar-a1">
      <div class="MuiListItemIcon-root"><svg class="MuiSvgIcon-root jss407" focusable="false" viewBox="0 0 50 50"
          aria-hidden="true">
          <use href="#AWS--Compute--_Instance--Amazon-EC2_A1-Instance_light-bg"></use>
        </svg></div>
      <div class="MuiListItemText-root jss406">
        <p
          class="MuiTypography-root MuiListItemText-secondary MuiTypography-body2 MuiTypography-noWrap MuiTypography-displayBlock">
          EC2 A1 Arm</p>
      </div>
    </li>
  </div>

</div>