#grid, #panner {
    height: 100000vh;
    -webkit-transform: translate(-1000%,-1000%);
    transform: translate(-1000%,-1000%);
    width: 100000vw;
}

.jss451 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}


.jss438 {
    top: 48px;
    left: 270px;
    border: 1px solid rgba(75, 75, 75, 0.2);
    z-index: 1201;
    position: absolute;
    border-radius: 4px;
    padding-right: 4px;
    background-color: #fff;
  }
  .jss439 {
    top: 96px;
    left: 270px;
  }
  .jss440 {
    left: 259px;
    width: 100%;
    bottom: 0;
    height: 58px;
    z-index: 100;
    position: absolute;
    border-left: 1px solid rgba(75, 75, 75, 0.2);
  }
  .jss441 {
    left: 12px;
    color: #fff;
    border: 1px solid #fff;
    bottom: 10px;
    height: 38px;
    display: flex;
    padding: 8px 16px;
    position: absolute;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    background-color: #222;
  }
  .jss442 {
    left: 35%;
    bottom: 10px;
    position: absolute;
    margin-top: unset !important;
    border-radius: 8px;
    margin-bottom: unset !important;
    background-color: #fff;
  }
  .jss443 {
    color: #fff;
    text-transform: none;
  }
  .jss444 {
    top: 48px;
    right: 28px;
    position: absolute;
  }
  .jss445 {
    cursor: move;
    margin: 0;
  }
  .jss446 {
    height: 20px;
    margin-left: 4px;
    margin-right: 4px;
  }
  .jss447 {
    width: 100%;
    height: 100vh;
    padding: 0;
    background-color: rgb(250, 250, 250);
  }
  .jss448 {
    outline: 0;
    background-color: rgb(250, 250, 250);
  }
  .jss449 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 8px;
    justify-content: space-around;
  }
  .jss450 {
    cursor: not-allowed;
    z-index: 1200;
  }
  .jss451 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
  }


.jss561 {
    flex-grow: 1;
  }
  .jss562 {
    padding: 4px;
    margin-left: 4px;
  }
  .jss562:hover {
    color: #000;
  }
  .jss562:focus {
    outline: 0;
  }
  .jss563 {
    width: 100%;
    margin: 6px;
    display: flex;
    padding: 8px;
  }
  .jss564 {
    width: 100%;
    display: flex;
    padding: 8px;
    border-top: 1px solid rgba(75, 75, 75, 0.2);
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
  }
  .jss565 {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-color: rgba(75, 75, 75, 0.3) #fff;
    scrollbar-width: thin;
  }
  .jss565:-moz-window-inactive {
    scrollbar-color: rgba(75, 75, 75, 0.1) #fff;
  }
  .jss566 {
    flex: 0 0 auto;
    width: 260px;
    border: 1px solid rgba(75, 75, 75, 0.2);
    margin: 0;
    display: flex;
    outline: 0;
    overflow: hidden;
    border-top: 0;
    text-align: center;
    transition: 0.2s width ease-in-out;
    align-items: center;
    padding-top: 40px;
    white-space: nowrap;
    justify-items: center;
    flex-direction: column;
    vertical-align: baseline;
    justify-content: inherit;
    background-color: #fff;
  }


.jss399 {
    margin: 0;
    display: flex;
    outline: none;
    overflow: hidden;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    padding-bottom: 16px;
    vertical-align: middle;
    justify-content: flex-start;
  }
  .jss400 {
    flex: 0 0 100%;
    color: #616161;
    height: 100%;
    display: flex;
    padding: 8px;
    overflow: hidden;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    user-select: none;
    justify-content: center;
  }
  .jss401 {
    width: 100%;
    cursor: default;
    padding: 4px 8px 4px 24px;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  .jss401:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
  .jss402 {
    margin: 4px 12px;
  }
  .jss403 {
    width: 100%;
    display: flex;
  }
  .jss404 {
    cursor: copy;
  }
  .jss405 {
    background-color: transparent;
  }
  .jss406 {
    width: 170px;
  }
  .jss407 {
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 50%;
  }


.jss366 {
    outline: none;
  }
  .jss367 {
    outline: none;
  }
  .jss367:active {
    stroke-dasharray: 7,3;
  }
  .jss368 {
    font-size: 1rem;
    user-select: none;
  }
  .jss368:hover {
    cursor: text;
    outline: 1px solid rgba(0, 0, 0, 0.12);
  }
  .jss369 {
    font-family: monospace;
  }
  .jss370 h2 {
    display: flex;
    align-items: center;
  }
  .jss371 {
    margin-right: 8px;
  }
  .jss372 {
    margin-right: 16px;
    margin-bottom: 16px;
  }
  .jss373 {
    margin: 8px;
  }
  .jss373:hover, .jss373:focus {
    outline: 0;
  }
  .jss374 {
    float: right;
    margin: 8px;
  }
  .jss374:hover, .jss374:focus {
    outline: 0;
    border-color: #000;
    background-color: inherit;
  }
  .jss375 {
    border-radius: 50%;
  }
  .jss376 {
    border: 1px solid;
    margin: 24px 0px;
    border-color: rgba(0, 0, 0, 0.12);
  }
  .jss377 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }


.jss170 {
    top: 48px;
    left: 270px;
    border: 1px solid rgba(75, 75, 75, 0.2);
    z-index: 1201;
    position: absolute;
    border-radius: 4px;
    padding-right: 4px;
    background-color: #fff;
  }
  .jss171 {
    top: 96px;
    left: 270px;
  }
  .jss172 {
    left: 259px;
    width: 100%;
    bottom: 0;
    height: 58px;
    z-index: 100;
    position: absolute;
    border-left: 1px solid rgba(75, 75, 75, 0.2);
  }
  .jss173 {
    left: 12px;
    color: #fff;
    border: 1px solid #fff;
    bottom: 10px;
    height: 38px;
    display: flex;
    padding: 8px 16px;
    position: absolute;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    background-color: #222;
  }
  .jss174 {
    left: 35%;
    bottom: 10px;
    position: absolute;
    margin-top: unset !important;
    border-radius: 8px;
    margin-bottom: unset !important;
    background-color: #fff;
  }
  .jss175 {
    color: #fff;
    text-transform: none;
  }
  .jss176 {
    top: 48px;
    right: 28px;
    position: absolute;
  }
  .jss177 {
    cursor: move;
    margin: 0;
  }
  .jss178 {
    height: 20px;
    margin-left: 4px;
    margin-right: 4px;
  }
  .jss179 {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgb(250, 250, 250);
  }
  .jss180 {
    outline: 0;
    background-color: rgb(250, 250, 250);
  }
  .jss181 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 8px;
    justify-content: space-around;
  }
  .jss182 {
    cursor: not-allowed;
    z-index: 1200;
  }
  .jss183 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
  }

  .ahacls-152699482124763654285, .ahbcls-299543648016829019860758, .ahccls-157124718218329524655, .ahdcls-2294296655477824281458044, .ahecls-143248916527904999043, .ahfcls-28554026236204940749866521581, .ahgcls-1987522594055771735858, .ahhcls-44988666110399990, .ahicls-324719305046872643911, .ahjcls-21659045013537, .ahkcls-6275219797134, .ahmcls-16079439360, .ahncls-2177472850, .ahocls-1517443906085836864, .ahpcls-21558940022429, .ahqcls-1692528088373276480256613, .ahscls-2103721490, .ahtcls-120403278423009953, .ahucls-1783299522860494550740473107, .ahvcls-212423455528822702050102580940155, .ahwcls-187252268837239576139, .ahxcls-3057489545433965103579, .ahycls-181339269263225175154756997720, .ahzcls-18436384951287686029009, .aiacls-2073524691, .aibcls-21750632728737478868704449, .aiccls-13052395594479, .aidcls-20526880352096185581 {
    fill: #d86613;
  }

  
.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
  }
  .MuiTouchRipple-ripple {
    opacity: 0;
    position: absolute;
  }
  .MuiTouchRipple-rippleVisible {
    opacity: 0.3;
    animation: MuiTouchRipple-keyframes-enter 550ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1);
  }
  .MuiTouchRipple-ripplePulsate {
    animation-duration: 200ms;
  }
  .MuiTouchRipple-child {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1;
    border-radius: 50%;
    background-color: currentColor;
  }
  .MuiTouchRipple-childLeaving {
    opacity: 0;
    animation: MuiTouchRipple-keyframes-exit 550ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .MuiTouchRipple-childPulsate {
    top: 0;
    left: 0;
    position: absolute;
    animation: MuiTouchRipple-keyframes-pulsate 2500ms cubic-bezier(0.4, 0, 0.2, 1) 200ms infinite;
  }
  @-webkit-keyframes MuiTouchRipple-keyframes-enter {
    0% {
      opacity: 0.1;
      transform: scale(0);
    }
    100% {
      opacity: 0.3;
      transform: scale(1);
    }
  }
  @-webkit-keyframes MuiTouchRipple-keyframes-exit {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes MuiTouchRipple-keyframes-pulsate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.92);
    }
    100% {
      transform: scale(1);
    }
  }